
<div class="app-container" ng-init = "init()" >
    


    <div class="row">
        <h1>{{d}}</h1>
    </div>

    <div class="row" style="height: auto">
        <div class="col-md-12" style="position: relative; width: 100%;height: 600px;">
            <div id="map"
                 style="
                 width: 97%;
                 height: 600px;
                 position: absolute;
                 right: 3%;
                 left:0">

            </div>
            <div ng-show="rightBar"
                 style="
                 overflow: auto;
                 width: 30%;
                 height: 100%;
                 background-color: rgba(30,30,30,0.2);
                 position: absolute;
                 right: 3%;">

                <ul class="list-group">
                    <li ng-repeat = "localidad in localidades" style="
                        list-style: none;
                        margin: 2%;
                        " >
                        <div class="row" style="margin: 0; " >
                            <div class="col-md-9 " >
                                <button style = "left: 0; width: 100%; max-width: 100% " type="button" ng-click = "getSchoolsByLocality(localidad)" class="btn btn-secondary">{{localidad.name}}</button>
                            </div>
                            <div class="col-md-3" style="text-align: center" >
                                <i  ng-click = "setLocalitySelected(localidad)"
                                    data-toggle="modal"
                                    data-target="#syncModal"
                                    title="Aplicar geocodificacion a los colegios de esta localidad"
                                    class="fas fa-sync-alt"  s
                                    style="font-size:20px; cursor: pointer;  "></i>
                            </div>

                        </div>

                    </li>

                </ul>

            </div>

            <div id="button"
                 ng-click="rightBar = !rightBar"
                 title="Click para abrir"
                 style="
                 cursor: pointer;
                 right: 0px;
                 width: 3%;
                 height: 100%;
                 background-color: #7b8a8b;
                 position: absolute">

                <img src="./images/left-arrow.png"
                     height="auto"
                     width="100%"
                    style = "position: absolute; top: 50%";
                >


            </div>



            <!--<div ng-show ="showEditBar" id="edit-bar"  style="-->
            <div  id="edit-bar" ng-show ="showEditBar"  style="
                  left: 0px;
                  width: 30%;
                  height: 100%;
                  position: absolute">

                <div class="card" style="height: 100%; background-color: rgba(255,255,255,0.9);">
                    <div class="card-header">Editar Colegio</div>
                    <div class="card-body" style = "overflow: auto">
                        <form>
                            <div ng-repeat = "label in labels" ng-if = "label.data !== 'edit'" class="form-row form-group">
                                <label ng-if = "label.data !== 'state'"  class="col-sm-4 col-form-label">{{label.title}}</label>
                                <div class="col-sm-8">
                                    <input ng-if = "label.data !== 'state'"  class="form-control" ng-model = "schoolSelected[label.data]" ng-readonly = "label.readOnly" >
                                    <!--<button class="btn btn-secondary" ng-if = "label.data === 'address_google'" type="button"   >Geocoder</button>-->

                                    <span ng-if = "label.data === 'state'"    >
                                         <!--<input type="checkbox"  ng-model = "schoolSelected.state"  >-->
                                    <!--<label ng-if = "schoolSelected.state"> Activo </label>-->
                                    <!--<label ng-if = "!schoolSelected.state"> Inactivo </label>-->
                                    </span>


                                    <div ng-if = "label.data === 'address_google'">

                                        <span   title = "Click para habilitar" >
                                            <input ng-click ="editMapMarkerSchool()" type="checkbox"  ng-model ="geocodeActive.state"  >
                                            <label ng-if = "geocodeActive.state"> Activo </label>          
                                            <label ng-if = "!geocodeActive.state"> Inactivo </label>          

                                        </span>

                                        <p>*Habilitar georeferenciacion con google</p>

                                        <div ng-if ="geocodeActive.state" class = "row" style = "margin: 0; width: 100%">

                                            <div class = "row" style = "margin: 0;  width: 100%" >
                                                <div class = "col-md-9">
                                                    <input ng-model="dataGeocoding.addressToGeocode" title ="Direccion o nombre de colegio" class="form-control"  placeholder="Direccion o nombre de colegio">
                                                    <!--<label > {{dataGeocoding.addressFoundGeocode}} </label>-->
                                                </div>

                                                <div class = "col-md-2">
                                                    <i ng-click ="geocode()"  title="Buscar" class="fas fa-map-marked"  style="font-size:20px; cursor: pointer;  "></i>
                                                </div>
                                            </div>



                                        </div>




                                    </div>

                                </div>

                            </div>


                        </form>


                    </div>
                    <div class="card-footer" style="text-align: right">
                        <button ng-click="showEditBar = false; schoolSelected = {}" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button data-toggle="modal" data-target="#updateModal"  type="button" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row"
         style="
         text-align: center;
         height: auto;
         margin-top: 10px; ">
        <div class = "col-md-12">
            <h2>{{localitySelected.name}}</h2>
        </div>

    </div>

    <div class="row" style="height: auto; margin-top: 10px; overflow: auto ">
        <div class="table-responsive">
            <table id= "geoTable" class="table table-hover table-bordered table-striped">
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>



</div>

<div class="modal fade" id="syncModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Sincronización de datos </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta tarea usara google-goecoder para convertir la dirección física de cada colegio de la
                localidad "{{localitySelected.name}}" a coordenadas geográficas y poder representarlas en el mapa,
                Podría tardar tiempo, desea continuar.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button ng-click="syncLocalitySchoolsGeocoder(localitySelected.id)" type="button" class="btn btn-primary">Si</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Modificar datos del colegio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               Desea guardar los cambios realizados?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button ng-click="updateSchool()"  type="button" class="btn btn-primary">Continuar</button>
            </div>
        </div>
    </div>
</div>

