<div class = "app-container">

        <div class="row" style="height: auto">
            <div class="col-md-4" style="text-align: center; max-height: 150px">
                <img style="width:auto; height:  -webkit-fill-available; height: -moz-available;  "
                     src="./images/escudo_bogota.png"  >
            </div>
            <div class="col-md-4" style="text-align: center; max-height: 150px" >
                <img style="width: auto; height: -webkit-fill-available; height: -moz-available;"
                     src="./images/datos_abiertos.png"  >
            </div>
            <div class="col-md-4" style="text-align: center; max-height: 150px" >
                <img style="width: auto; height:  -webkit-fill-available; height: -moz-available;"
                     src="./images/escudoud.png" >
            </div>
        </div>

</div>