
    <div class = "app-container" >
        <div class="row" style="text-align: center">
            <h1 style="width: 100%; text-align: center">Ubicación de colegios de Bogotá </h1>

        </div>
        <div class="row" style="text-align: center">

            <p style="width: 100%; text-align: center">Basado en datos abiertos del gobierno de Colombia</p>
        </div>
    </div>


